<nav class="nav bg-natural-95 border-top py-5">
  <!-- navbar-expand-lg -->
  <div class="container d-flex flex-lg-row flex-column align-items-center">
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"> -->
    <ul class="navbar-nav fs-6 text-black d-flex flex-row flex-wrap">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="index.html">服務方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">關於職旅</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">聯絡我們</a>
      </li>
    </ul>
    <ul class="navbar-nav fs-6 text-black d-flex flex-row flex-wrap mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">隱私權政策</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">用戶條款</a>
      </li>
    </ul>
    <p class="fs-7 text-natural-50 mt-2 mt-lg-0 ms-lg-auto">Copyright © 2025 職旅 workway. All rights reserved.</p>
  </div>
  <!-- </div> -->
</nav>
