.user-image {
  width: 44px;
  height: 44px;
}
// @media (min-width: 992px) {
//   .navbar-toggler {
//     order: 2;
//   }
// }
// @media (max-width: 991.98px) {
//   .navbar-collapse {
//     order: 3;
//   }
//   .navbar-brand {
//     order: 1;
//   }
//   .navbar-toggler {
//     order: 2;
//   }
//   .user-image {
//     order: 4;
//   }
// }
@media (max-width: 991.98px) {
  .fullscreen-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 滿高 */
    background-color: white;
    z-index: 1050; /* 高於 navbar */
    padding: 2rem 1rem;
    display: flex !important;
    flex-direction: column;
  }
}
.form-floating {
  position: relative;
}
.form-floating .toggle-password {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
.mb-142 {
  margin-bottom: 142px;
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-content {
  overflow: hidden; /* 讓超過圓角的部分被裁掉 */
}
.bg-login {
  background-image: url(/assets/images/about/login.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-regis {
  background-image: url(/assets/images/about/register.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
