.bg-gray {
  background-color: #f0f3f5;
}
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.round-panel {
  background-color: #fcfcfd;
  border-radius: 24px;
}
.text-blue {
  color: #4a69e8;
}
.subtitle {
  font-size: 18px;
  color: #667f99;
}
.badge {
  background-color: #fcfcfd;
}
.side-width {
  width: 300px;
}
