@media (min-width: 768px) {
  .side-width {
    width: 300px;
  }
}
.modal-width {
  max-width: 480px;
}
// .nav-pills .nav-link {
//   background: #fcfcfd;
//   border: 1px solid #d1d9e1;
//   color: #141a1f;
//   border-radius: 16px;
//   padding: 12px 20px;
//   transition: all 0.3s;
//   &.active {
//     background: #e0e5eb;
//     color: #141a1f;
//   }
// }
.tab-btn-bg {
  background-color: $white;
}

.d-md-table-row-group {
  display: none;
}

@media (min-width: 768px) {
  .d-md-table-row-group {
    display: table-row-group;
  }
}
.booking-form li div {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.booking-form li:nth-child(even) {
  background-color: $natural-85;
}
.booking-form li:hover {
  background-color: $primary-90;
}

.table-hover tr:hover td {
  background-color: $primary-90;
}
.dropdown-item:hover {
  background-color: $natural-90 !important;
}
.w-62 {
  width: 62%;
}
.table td,
th {
  white-space: nowrap;
}
